<!DOCTYPE html>
<html>
<title>Splitwise</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-wide w3-padding w3-card">
    <a href="https://app.octagon58.hasura-app.io/" class="w3-bar-item w3-button"><b></b> S P L I T W I S E </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="https://app.octagon58.hasura-app.io/login_form" class="w3-bar-item w3-button">LOGIN</a>
      <a href="https://app.octagon58.hasura-app.io/register" class="w3-bar-item w3-button">SIGNUP</a>

    </div>
  </div>
</div>

<!-- Central part -->
<pre>



                    <img src="static/image/Capture.png" width="1000" height="130" alt="no image">
                                               <a href="static/image/1.png" target="__blank"> <img border="0" alt="No IMAGE" src="static/image/1.png" width="330" height="250"></a><a href="static/image/2.png" target="_blank_"><img border="0" alt="No IMage" src="static/image/2.png" width="150" height="250"></a>

                                                         <a href="https://app.octagon58.hasura-app.io/register" > <img border="0" alt="No Image" src="static/image/3.png" width="350" height="80"></a>
</pre>
</body>
 {%with messages = get_flashed_messages() %}
          {% for message in messages %}

             <script type="text/javascript">
        alert("{{message}}");
            </script>
               {% endfor %}
          {% endwith %}

</html>
